.topHeader {
    font-size: 100%;
    background-color: white;
    height: 100px;
    font-family: "Inter", sans-serif;
    position: fixed;
    display: block;

    /* top: 0;
    left: 0; */
    /* z-index: 8; */
    width: 100%;
    /* top: 0; */
    /* left: 50; */
    /* z-index: 10; */
    /* margin-bottom: 200px; */
    /* box-sizing: border-box; */
}

.header-logo {

    font-size: 100%;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    position: absolute;
    top: 2rem;
    left: 1rem;
    line-height: 1;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    transition: all .3s ease;
    width: auto;
    max-width: 80%;
    z-index: 100;
    margin-top: 1em;
    text-decoration: none;
}

.header-logo-mobile {

    font-family: "Inter", sans-serif;
    line-height: 1;
    box-sizing: border-box;
    transition: all .5s ease;
    max-width: 100%;
    height: auto;
    width: 140px;
}

.header-text {

    font-family: "Inter", sans-serif;
    line-height: 1;
    box-sizing: border-box;
    transition: all .5s ease;
    margin-left: 10px;
    font-size: .85rem;
}