.tracking {
    margin-top: 100px;
    height: 600px;
    /* background-color: brown; */
    color: azure;
    background-image: url(../images/courier.jpg);
    display: block;
}

.tracking-p {
    margin: 0 2em;
    margin-top: 4em;
    text-align: center;

}

.tracking-h1 {
    text-align: center;
    margin: 1em 0.5em;
}

@media screen and (width >=1024px) {


    .tracking-p {

        font-size: 20px;
        font-style: bold;
    }

    .tracking-h1 {
        font-size: 40px;

    }
}